.footer {
  width: 100%;
  margin-top: auto;
  min-height: 11.5vh;
  background-color: #f2f2f2;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.75rem;
  box-sizing: border-box;
  justify-content: space-between;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  flex: 1;
}
.footer li {
  font-size: 1.2rem;
}

.footer li {
  font-size: 0.75rem;
  margin-top: 0.5rem;
  color: rgb(165, 165, 165);
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  min-height: 100vh;

  font-family: Raleway, sans-serif;
  width: 100%;
  overflow: auto;
}

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

header {
  padding: 2rem;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1rem;
}

.booki {
  height: 2rem;
}

/* class nav button where when one is selected it goes blue */
.nav-button {
  /* border: none; */
  color: rgb(165, 165, 165);
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.75rem;
  margin: 0.5rem 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.nav-button:target {
  color: #0065fc;
}

#accomodations:target {
  color: #0065fc;
}
