.footer {
  width: 100%;
  margin-top: auto;
  min-height: 11.5vh;
  background-color: #f2f2f2;
  display: flex;
  padding-top: 0.75rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.footer h6 {
  margin: 0;
}

.footer-wrapper {
  max-width: 950px;
  width: 100%;
  padding-top: 1.2rem;
  /* border: red solid 1px; */
  padding-left: 1rem;
}

.footer-inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 720px;
  box-sizing: border-box;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  flex: 1;
}

.footer li {
  font-size: 0.7rem;
  margin-top: 0.5rem;
  color: rgb(165, 165, 165);
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;

  font-family: Raleway, sans-serif;
  width: 100%;
  overflow: auto;
}

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* border: 1px red solid; */
  width: 100%;
  max-width: 950px;

  /* max-width: 2500px; */
}

header {
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 950px;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  /* border: red 1px solid; */
  box-sizing: border-box;
  /* width: 100%; */
}

.booki {
  height: 3rem;
  /* border: solid red 1px; */
}

.booki-mobile {
  display: inline-block;
}

.booki-desktop {
  display: none;
}

/* class nav button where when one is selected it goes blue */
.nav-container {
  /* border: red 1px solid; */
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: row;
  /* margin: 0.5rem 0.5rem; */
}
.nav-button {
  /* border: none; */
  color: rgb(165, 165, 165);
  /* height: 100%; */
  padding: 0.5rem 1rem;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.75rem;
  cursor: pointer;
  border-bottom: 0.2rem solid #f2f2f2;
  width: 100%;
}

.nav-button.default {
  color: blue;
  text-decoration: none;
  border-color: blue;
}

.nav-button:target {
  color: #0065fc;
}

#accomodations:target {
  color: #0065fc;
}

.text-small {
  color: rgb(165, 165, 165);
  font-size: 0.75rem;
  margin: 0;
}

.text {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

/* Search and filters container */

.search-filters-container {
  padding: 1rem;
}

/* Search Location */

.search-location {
  display: flex;

  margin-bottom: 1rem;
  height: 2.3rem;
  margin-top: 0.7rem;
  border-radius: 10px;
  overflow: hidden;
  /* border: 1px red solid; */
}

.icon-holder {
  background-color: #f2f2f2;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem;
}

.input {
  border-radius: 0;
  border: none;
  width: 11rem;
  padding: 0.7rem;
  box-sizing: border-box;
  flex: 1;
  /* font-weight: bold; */
}

.search-button {
  border-radius: 0;
  background-color: #0065fc;
  color: white;
  border: none;
  width: 2.3rem;
  border-radius: 10px;
}

/* Filters section */

.filters {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border: 1px red solid;
}

.filter-title {
  font-size: 0.9rem;
  margin-right: 1rem;
}

.filter {
  border-radius: 1rem;
  border: 1px solid #e4e4e4;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
  position: relative;
  margin-right: 1rem;
}

.filter p {
  margin-left: 2.7rem;
  margin-right: 1rem;
  font-size: 0.8rem;
}

.filter-logo {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  background-color: #deebff;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065fc;
}

/* info */
.info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 1.3rem;
  color: #b7b7b7;
}

.info p {
  font-size: 0.7rem;
  margin: 0;
}

.info-icon {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px #deebff solid;
  margin-right: 0.5rem;
}
.info-icon i {
  color: #0065fc;
  font-size: 0.6rem;
}

.main-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin-top: 0.8rem;
  margin-bottom: 1.6rem;
  /* flex-wrap: wrap; */
  /* border: 1px red solid; */
}

/* Main */
main {
  width: 100%;
}

.card-title {
  font-size: 0.7rem;
  font-weight: 500;
  margin: 0;
}

.card-subtitle {
  font-size: 0.7rem;
  color: rgb(165, 165, 165);
  margin: 0;
}

.card-info {
  display: flex;
  flex-direction: column;

  padding: 0.3rem 0 0 0.3rem;
  box-sizing: border-box;
  justify-content: space-around;
  height: 100%;
}

.stars-container {
  display: flex;
  flex-direction: row;
  /* border: 1px red solid; */
}

.star {
  font-size: 0.52rem;
  color: #0065fc;
  /* margin: 0; */
}

.unrated-star {
  color: #dadada;
}

.price {
  font-size: 0.6rem;
  /* font-weight: bold; */
  color: black;
}

.grid-container {
  list-style: none;
  /* border: 1px red solid; */
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.grid-item {
  height: 13rem;

  padding: 0.3rem;
  flex-direction: column;
}

.grid-container img {
  width: 100%;
  height: 65%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.grid-item,
.aside-list li {
  background-color: white;
  /* border: 1px red solid; */

  display: flex;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/* Aside */
aside {
  width: 100%;
  height: 27.2rem;
  background-color: #f2f2f2;
}

.aside-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
  /* height: 13%; */
}

.aside-list {
  list-style: none;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
  height: 85%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.aside-list li {
  background-color: white;
  display: flex;
  overflow: hidden;
  padding: 0.2rem;
  height: 6.3rem;
  width: 100%;
}

.aside-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}

.aside-list img {
  object-fit: cover;
  width: 35%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
main,
aside {
  box-sizing: border-box;
  padding: 1rem;
}

/* Activities */
.activities-container {
  display: flex;
  flex-direction: column;
  /* margin-top: 1rem; */
  justify-content: space-between;
  padding: 0 1rem;
  /* width: 100%; */
  /* height: 100px; */
  /* border: 1px red solid; */
}

.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  height: 13rem;
  margin-bottom: 1.5rem;
  /* width: 100%; */
}

.activity-title-box {
  background-color: white;
  height: 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.6rem;
  font-size: 0.7rem;
  position: absolute;
  bottom: 0;
}

.activity-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activity-img {
  object-fit: cover;
  /* flex: 1; */
  height: 100%;
}

/* Media Queries */

@media (min-width: 768px) {
  /* Booki */
  .booki-mobile {
    display: none;
  }
  .booki-desktop {
    display: inline-block;
  }
  /* HEADER */
  header {
    flex-direction: row;
    height: 4rem;
  }

  .booki {
    height: 2rem;
  }
  /* Search filters container */
  .search-filters-container {
    padding: 0;
  }
  /* SEARCH */
  .search-location {
    width: fit-content;
  }

  .search-button {
    border-radius: 0;
    width: 4rem;
  }

  .search-button i {
    display: none;
  }
  .search-button::before {
    content: "Search";
  }

  .nav-container {
    width: auto;
  }

  .nav-button {
    padding: 0.5rem 0.5rem;
    height: 100%;
    display: flex;
    border-top: 0.1rem solid #f2f2f2;
    width: 8rem;
    border-bottom: none;

    /* border: 1px solid green; */
  }
  /* FILTERS */
  .filters {
    flex-direction: row;
    align-items: center;
  }

  .filter2 {
    order: 1;
  }

  .filter3 {
    order: 0;
  }

  .filter4 {
    order: 1;
  }
  /* Wrapper */

  .wrapper {
    padding-top: 0;
  }
  /* MAIN */
  .main-container {
    flex-direction: row;
  }
  main {
    background-color: #f2f2f2;
    width: 65%;
    height: 27.2rem;
  }
  aside {
    width: 32%;
  }
  main,
  aside {
    border-radius: 10px;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .grid-item {
    height: 9rem;
  }
  /* ACTIVITIES */
  .activities-container {
    flex-direction: row;
    padding: 0;
  }
  .card {
    width: 13.3rem;
    height: auto;
  }
  .activity-card-1 {
    height: 19.4rem;
  }

  .activity-card-2 {
    height: 10.4rem;
  }
  .activity-card-3 {
    height: 7.2rem;
  }
  .activity-card-4 {
    height: 8.5rem;
  }
  .activity-card-5 {
    height: 9.3rem;
  }

  /* FOOTER */
  .footer-wrapper {
    padding-left: 0;
  }

  .footer-inner-wrapper {
    flex-direction: row;
  }
}
