.footer {
  width: 100%;
  margin-top: auto;
  min-height: 11.5vh;
  background-color: #f2f2f2;
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.footer h6 {
  margin: 0;
  margin-top: 1rem;
  font-size: 1rem;
}

.footer-wrapper {
  max-width: 950px;
  width: 100%;
  padding-top: 1.2rem;
  padding-left: 1rem;
}

.footer-inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 720px;
  box-sizing: border-box;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  flex: 1;
}

.footer li {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  font-family: Raleway, sans-serif;
  width: 100%;
  overflow: auto;
}

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  max-width: 950px;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 950px;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.booki {
  height: 3rem;
}

.booki-mobile {
  display: inline-block;
}

.booki-desktop {
  display: none;
}

.nav-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: row;
}
.nav-button {
  color: rgb(165, 165, 165);
  padding: 0.5rem 1rem;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  cursor: pointer;
  border-bottom: 0.2rem solid #f2f2f2;
  width: 100%;
  text-decoration: none;
}

.nav-disabled {
  pointer-events: none;
}

.nav-button.default {
  color: blue;
  text-decoration: none;
  border-color: blue;
}

.nav-button:target {
  color: #0065fc;
}

#accomodations:target {
  color: #0065fc;
}

.text-small {
  color: rgb(165, 165, 165);
  font-size: 0.75rem;
  margin: 0;
}

.text {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

/* Search and filters container */

.search-filters-container {
  padding: 0rem 1rem;
}

/* Search Location */

.search-location {
  display: flex;

  margin-bottom: 1rem;
  height: 2.5rem;
  margin-top: 2rem;
  border-radius: 10px;
  overflow: hidden;
  border-top: 0.5px #f2f2f2 solid;
  border-bottom: 0.5px #f2f2f2 solid;
}

.icon-holder {
  background-color: #f2f2f2;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.input {
  border-radius: 0;
  border: none;
  width: 11rem;
  padding: 0.7rem;
  box-sizing: border-box;
  flex: 1;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  font-family: Raleway, sans-serif;
}

.search-button {
  border-radius: 0;
  background-color: #0065fc;
  color: white;
  border: none;
  width: 2.5rem;
  border-radius: 10px;
}

/* Filters section */

.filters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  width: 80%;
}

.filter-title {
  font-size: 0.9rem;
  margin-right: 1rem;
  margin-bottom: 0;
  font-weight: bold;
}

.filter {
  border-radius: 1.5rem;
  border: 1px solid #e4e4e4;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2.5rem;
  position: relative;
  margin-right: -1rem;
  font-weight: 600;
}

.row2 {
  grid-column: span 2;
}

.filter p {
  margin-left: 3rem;
  margin-right: 1.5rem;
  font-size: 1rem;
  white-space: nowrap;
}

.filter-logo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #deebff;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065fc;
}

/* info */
.info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.info p {
  font-size: 0.9rem;
  margin: 0;
}

.info-icon {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px #deebff solid;
  margin-right: 0.5rem;
}
.info-icon i {
  color: #0065fc;
  font-size: 0.7rem;
}

.main-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin-top: 0.8rem;
  margin-bottom: 1.6rem;
}

/* Main */
main {
  width: 100%;
}

main p {
  color: black;
}

.show-more {
  font-weight: bold;
  margin-top: 2rem;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
}

.card-subtitle {
  font-size: 0.9rem;
  margin: 0;
}

.card-info {
  display: flex;
  flex-direction: column;

  padding: 0.3rem 0 0 0.3rem;
  box-sizing: border-box;
  justify-content: space-around;
  height: 100%;
}

.stars-container {
  display: flex;
  flex-direction: row;
}

.star {
  font-size: 0.7rem;
  color: #0065fc;
}

.unrated-star {
  color: #dadada;
}

.price {
  font-size: 0.9rem;
  font-weight: 500;
  color: black;
}

.grid-container {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.grid-item {
  height: 13rem;

  padding: 0.3rem;
  flex-direction: column;
}

.grid-container img {
  width: 100%;
  height: 65%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.grid-item,
.aside-list .popular-item {
  background-color: white;
  display: flex;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/* Aside */
aside {
  width: 100%;
  background-color: #f2f2f2;
}

.aside-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.aside-title p {
  margin: 0;
}

.aside-list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  gap: 1rem;
}

.aside-list .card-title {
  height: 1rem;
  margin-bottom: -0.5rem;
}

.popular-item {
  background-color: white;
  display: flex;
  overflow: hidden;
  padding: 0.2rem;
  height: 8rem;
  width: 100%;
}

.aside-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}

.aside-list img {
  object-fit: cover;
  width: 35%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
main,
aside {
  box-sizing: border-box;
  padding: 2rem 1rem;
}

/* Activities */
.activity-title {
  margin-left: 1rem;
}
.activities-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  height: 12rem;
  margin-bottom: 1.5rem;
}

.activity-title-box {
  background-color: white;
  height: 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.6rem;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  font-weight: bold;
}

.activity-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activity-img {
  object-fit: cover;
  height: 100%;
}

.grid-item:hover,
.popular-item:hover,
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 12px 4px -1px;
  cursor: pointer;
}

/* Media Queries */

/* TABLET ///////////////////////////////////////////////////////////////////////////////// */

@media (min-width: 768px) {
  /* MAX-WIDTH */
  .wrapper,
  .footer-wrapper,
  header {
    max-width: none;
  }

  /* FILTERS */
  .filters {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .filter-title {
    margin-bottom: 1rem;
    font-weight: normal;
  }

  .filter {
    margin-right: 0.3rem;
  }

  .footer-inner-wrapper {
    flex-direction: row;
  }

  /* MAIN */

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  /* ASIDE */

  .aside-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  /* ACTIVITIES */

  .activities-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .activity-vertical {
    order: 1;
  }
  /* FOOTER */

  .footer h6 {
    margin-top: 0;
  }
}

/* DESKTOP ///////////////////////////////////////////////////////////////////////////////// */

@media (min-width: 992px) {
  .wrapper,
  .footer-wrapper,
  header {
    max-width: 950px;
  }
  .text {
    font-size: 0.9rem;
  }
  /* Booki */
  .booki-mobile {
    display: none;
  }
  .booki-desktop {
    display: inline-block;
  }
  /* HEADER */
  header {
    flex-direction: row;
    height: 5.5rem;
    margin-bottom: 0;
  }

  .booki {
    height: 2rem;
  }
  /* Search filters container */
  .search-filters-container {
    padding: 0;
  }
  /* SEARCH */
  .search-location {
    width: fit-content;
    margin-top: 0.7rem;
    height: 2.3rem;
  }

  .search-button {
    border-radius: 0;
    width: 4rem;
  }

  .search-button i {
    display: none;
  }
  .search-button::before {
    content: "Search";
  }

  .nav-container {
    width: auto;
  }

  .input {
    font-size: 0.8rem;
    font-weight: 600;
  }

  .nav-button {
    padding: 0.5rem 0.5rem;
    height: 100%;
    display: flex;
    border-top: 0.1rem solid #f2f2f2;
    width: 8rem;
    border-bottom: none;
    font-size: 0.75rem;
  }
  /* FILTERS */

  .filter {
    height: 2rem;
    border-radius: 1rem;
    margin-right: 1rem;
  }

  .filter-logo {
    width: 2.1rem;
    height: 2.1rem;
  }

  .filter p {
    font-size: 0.8rem;
    margin-left: 2.7rem;
    margin-right: 1rem;
  }

  .filter2 {
    order: 1;
  }

  .filter3 {
    order: 0;
  }

  .filter4 {
    order: 1;
  }

  .info {
    margin-bottom: 0;
  }

  .info p {
    font-size: 0.7rem;
    color: #b7b7b7;
  }

  .info-icon {
    width: 0.8rem;
    height: 0.8rem;
  }

  .info-icon i {
    font-size: 0.6rem;
  }
  /* Wrapper */

  .wrapper {
    padding-top: 0;
  }
  /* MAIN */
  .card-title {
    font-size: 0.7rem;
    margin: 0;
  }

  .card-subtitle {
    font-size: 0.6rem;
    color: rgb(165, 165, 165);
    margin: 0;
  }

  .price {
    font-size: 0.6rem;
  }

  .star {
    font-size: 0.52rem;
  }
  .main-container {
    flex-direction: row;
    margin-bottom: 2.7rem;
  }
  main {
    background-color: #f2f2f2;
    width: 65%;
    height: 27.5rem;
  }
  aside {
    width: 32%;
  }
  main,
  aside {
    border-radius: 10px;
    padding: 1.7rem 1.5rem;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 1rem;
  }

  .grid-item {
    height: 9rem;
  }

  .show-more {
    font-size: 0.7rem;
    margin-top: 1.5rem;
  }
  /* POPULAR ITEMS */

  .aside-list {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    gap: 1.4rem;
    margin-top: 1rem;
  }

  .popular-item {
    height: 6.3rem;
  }

  .aside-title {
    margin-bottom: 0.5rem;
  }
  /* ACTIVITIES */
  .activity-title {
    margin-left: 0;
  }
  .activities-container {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 0.5rem;
  }
  .card {
    width: 13.3rem;
    height: auto;
  }
  .activity-card-1 {
    height: 19.4rem;
  }

  .activity-card-2 {
    height: 10.4rem;
  }
  .activity-card-3 {
    height: 7.2rem;
  }
  .activity-card-4 {
    height: 8.5rem;
  }
  .activity-card-5 {
    height: 9.3rem;
  }

  .activity-title-box {
    height: 2.5rem;
    font-size: 0.7rem;
  }

  .activity-vertical {
    order: 0;
  }

  /* FOOTER */
  .footer-wrapper {
    padding-left: 0;
  }

  .footer li {
    font-size: 0.7rem;
    color: rgb(127, 127, 127);
  }

  .footer h6 {
    font-size: 0.8rem;
    margin-top: 0;
  }
}
